@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600;700&family=Mulish&display=swap');


$downColor: #E80000;
$highColor: #18DC20;
$generalLandingSidePadding: 50px;
$generalSpace: 16px;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.textField {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.425);
  padding-bottom: 4px;
  outline: none;
  font-family: 'Mulish', sans-serif;
}

.downColor {
  color: $downColor;
}

.highColor {
  color: $highColor;
}

.aboveTheFold {
  padding: 0 $generalLandingSidePadding;

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: $generalSpace 0;

    .logo {
      width: 80px;
    }

    .stocksSearch {
      .textField {
        width: 180px;
        font-size: 18px;
      }
    }
  }

  .mainContent {
    
    .titleHeader {
      margin-top: $generalLandingSidePadding;
  
      .announcement {
        display: block;
        font-family: 'Josefin Sans', sans-serif;
        text-align: right;   
        margin-bottom: $generalSpace; 
      }
    
      .mainTitle {
        font-family: 'Josefin Sans', sans-serif;
        margin: 0;
        font-size: 80px;
        text-align: right;
      }
    }
    
    .featuredMostLists {
      margin-top: $generalLandingSidePadding;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  
      & > div {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
  
        .featureTitle {
          margin-bottom: 20px;
          h2 {
            font-family: 'Josefin Sans', sans-serif;
            text-transform: uppercase;
            font-size: 18px;
            margin: 0;
          }
  
          span {
            margin-top: 8px;
            height: 8px;
            width: 30px;
            display: block;
            background-color: black;
            border-radius: 4px;
          }
          
          .upBlock {
            background-color: $highColor;
          }
  
          .downBlock {
            background-color: $downColor;
          }
        }
      }
  
      .featuredStockCard {
        display: flex;
        justify-content: space-between;
        padding: $generalSpace;
        align-items: flex-end;
        margin-top: 25px;
  
        .stockName {
          margin: 0;
          font-size: 80px;
          font-family: 'Josefin Sans', sans-serif;
          line-height: 40px;
        }
  
        .rightSection {
          display: flex;
          flex-direction: column;
          font-family: 'Josefin Sans', sans-serif;
          align-items: flex-end;
  
          .stockPrice {
            font-size: 19px;
            margin-bottom: 4px;
          }
  
          .percentageChange {
            font-size: 40px;
            font-weight: 700;
          }
  
        }
      }
    }
  }
  
}

.stocksList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: $generalLandingSidePadding;

  .stockCard {
    display: flex;
    flex-direction: column;
    width: calc(100% / 3);
    height: 280px;
    color: white;
    background-color: black;
    padding: $generalSpace;
    font-family: 'Mulish', sans-serif;
    border-right: 1px solid rgba(255, 255, 255, 0.247);
    border-top: 1px solid rgba(255, 255, 255, 0.247);

    .naming {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 70%;

      .stockSymbol {
        line-height: 40px;
        margin: 0;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 60px;
      }

      .companyName {
        font-family: 'Mulish', sans-serif;
        text-align: right;
      }
    }

    .bottomSection {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: 30%;
      align-items: center;

      .leftSection {
        display: flex;
        flex-direction: column;
        span {
          b {
            display: inline-block;
            font-family: 'Josefin Sans', sans-serif;
            width: 30px;
          }
        }
      }

      .rightSection {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        
        .stockPrice {
          font-family: 'Josefin Sans', sans-serif;
          font-weight: 500;
          font-size: 40px;
          
          .currency {
            font-size: 25px;
          }
        }
      }
    }
  }
}